/* GENERAL ---------------------------------------*/
/*------------------------------------------------*/
body {
  font-family: TS-Reg, sans-serif;
  background-color: white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  font-family: TS-Med, sans-serif;
  margin: 20px 0;
}

h1 span {
  color: #fe5d5d;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  color: black;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: black;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #545454;
  margin-bottom: 5px;
}

i {
  height: 30px;
}
/* HEADER ----------------------------------------  */
/* ------------------------------------------------ */
header {
  height: 60px;
}

header > div {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

header nav {
  height: 100%;
  display: flex;
  gap: 10px;
}

header button {
  border: none;
  background-color: #fff;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  border-radius: 20px;
}

header button:nth-child(4) {
  background-color: black;
  color: white;
}

header button:not(:nth-child(4)):hover {
  background-color: #ededed;
}

/* MAIN ------------------------------------------  */
/* ------------------------------------------------ */

.baseline {
  font-size: 14px;
  margin-bottom: 20px;
}

.menu {
  height: 70px;
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  /* flex-wrap: wrap; */
}

.menu div {
  border: solid 1px black;
  box-sizing: border-box;
  height: 100%;
  width: calc((100% - 50px) / 6);
  /* width: 100%; */
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  /* flex-shrink: 0; */
}

.menu .menu-hidden {
  display: none;
}

/* Images ----------------------------------------- */
/* ------------------------------------------------ */
.images {
  height: 430px;
  width: 100%;
  display: flex;
  gap: 4px;
  margin-bottom: 60px;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images > div:first-child {
  height: 100%;
  flex: 1;
}

.images > div:last-child {
  height: 100%;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
}

.col2 div {
  height: calc((100% - 4px) / 2);
}

/* Annecy info ----------------------------------- */
/* ------------------------------------------------ */

.town-info {
  display: flex;
  margin-bottom: 60px;
}
.town-info > div:first-child {
  flex: 1;
}

.town-info > div:last-child {
  width: 480px;
}

.town-info p {
  font-size: 20px;
  line-height: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-right: 90px;
  color: #333333;
}

.text-map {
  border: 1px solid red;
  height: 150px;
  background-color: #ff5d5d;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.text-map h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-map p {
  font-size: 12px;
  margin-bottom: 10px;
}

.text-map button {
  border: none;
  background-color: Black;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.map img {
  height: calc(100% - 207px);
  width: 100%;
  border-radius: 0 0 10px 10px;
}

/* Annecy les immanquables  ----------------------- */
/* ------------------------------------------------ */

.unmissable {
  display: flex;
  margin-bottom: 60px;
}

.unmissable p {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 22px;
  margin-bottom: 10px;
}

.unmissable > div:first-child {
  width: 230px;
  flex-shrink: 0;
  padding-right: 60px;
  /* border: 1px solid black; */
}

.unmissable > div:first-child button {
  border: none;
  background-color: white;
  font-family: inherit;
  padding-left: 0px;
  text-decoration: underline;
}

.carroussel {
  display: flex;
  gap: 15px;
  overflow: hidden;
  overflow-x: scroll;
}

/* .carroussel > div:first-child { */
.carroussel > div {
  position: relative;
}

.favorite2 {
  background-color: white;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 70px;
  left: 10px;
  border-radius: 50%;
}

.carroussel .favorite2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.favorite {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carroussel img {
  height: 200px;
  width: 270px;
  flex-shrink: 0;
}

.unmissable .carroussel p {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: TS-reg, sans-serif;
}

.unmissable > div:last-child::-webkit-scrollbar {
  display: none;
}

/* FOOTER------------------------------------------ */
/* ------------------------------------------------ */
footer {
  background-color: #f9f1ec;
  height: 156px;
}

footer img {
  height: 40px;
  padding-right: 20px;
}
footer > div {
  display: flex;
  padding-top: 30px;
}

.col-footer-1 {
  display: flex;
  flex-direction: column;
}

.col-footer-1 p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.link {
  width: 650px;
}

.link a {
  color: black;
}

/* ------------------------------------------------ */
/*   MEDIA QUERY  ------------------------------- */
/* ------------------------------------------------ */

@media (max-width: 1184px) {
  .menu {
    height: 46px;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 70px;
    flex-wrap: wrap;
  }

  .menu div {
    border: solid 1px black;
    box-sizing: border-box;
    height: 100%;
    width: calc((100% - 30px) / 4);
    /* width: 100%; */
    /* flex: 0 0 100%; */
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-shrink: 0; */
  }

  .menu .menu-hidden {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1160px) {
  .container {
    margin: 0 10px;
  }
}

@media (max-width: 1023px) {
  header span {
    visibility: hidden;
  }

  .col2-map {
    display: none;
  }
}

@media (max-width: 767px) {
  /* header button:not(:last-child) {
    background-color: red;
  } */

  .images > div:last-child {
    display: none;
  }

  /* Annecy les immanquables  */
  .unmissable {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .unmissable > div:first-child {
    width: 100%;
    flex-shrink: 0;
    /* padding-right: 60px; */
    /* border: 1px solid black; */
  }

  .carroussel img {
    height: 415px;
    width: 555px;
    flex-shrink: 0;
  }

  .unmissable button {
    margin-bottom: 10px;
  }
}
